/*
* @author prof. Jamilton Damasceno - alguns detalhes alterados por mim, Adilson
*/

/* ============ layout ============ */
html,
body,
#home {
  height: 100%; /* definindo a altura do html, body e #home em 100% */
  overflow-x: hidden; /* aqui escondemos a barra de rolagem horizontal */
}

body {
  background: url(../imagens/capa.png),
    /* essa imagem está em cima do ruído */ url(../imagens/ruido.png),
    /* o ruído está abaixo da capa.png */
      linear-gradient(50deg, #ff4169, #7c26f8); /* o gradiente fica abaixo do ruído */
  background-attachment: fixed; /* aqui fixamos o background e temos o efeito parallax */
  font-family: Helvetica, Arial, sans-serif;
}
/* obs: todas as imagens devem ter opacidade para que ocorra esse efeito */

/* ============ navigation bar ============ */
nav.navbar-transparente {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  /* a classe navbar-nav é do bootstrap */
  color: #9bf0e1;
}

.navbar-light .navbar-toggler {
  /* aqui colocamos a cor branca para o contorno do botão do menu */
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
  width: 1px;
  background: white;
  margin: 12px 15px;
}

/* ============ capa ============ */
.capa {
  text-align: center;
}

.btn-custom {
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
  padding: 10px 20px;
}

.btn-roxo {
  background: #7c25f8;
}

.btn-roxo:hover {
  background: #3c028d;
  color: white;
}

.btn-branco {
  border: 2px solid white;
}

.btn-branco:hover {
  background-color: white;
  color: #3c028d;
}

.carousel-control-next, .carousel-control-prev { /* aqui mudamos a largura do box das setas prev e next */
  width: 5%;
}

/* ============ conteúdos ============ */
.caixa {
  padding-top: 20px;
  padding-bottom: 20px;
}

#servicos {
  background: white;
}

#recursos {
  color: white;
}

#servicos h2,
h3 {
  color: #7c25f8;
}

#recursos h2 {
  color: white;
}

#recursos h3 {
  color: #9bf0e1;
}

.albuns {
  padding: 10px 0;
}

.rotacionar {
  transform: rotate(
    30deg
  ); /* aqui rotacionamos a row que tem as imagens dos iphones */
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  padding-left: 80px; /* esse padding fará com que o iphone não cubra o texto do "Descobrir" */
}

.pad {
  margin-bottom: 10px;
}

/* ============ footer ============ */
footer {
  background: #000;
  padding: 50px 0 20px 0;
  position: relative; /* aqui fazemos com que o footer fique sobre a imagem do iphone */
}

footer h4 {
  color: #919496;
  font-size: 0.8em;
  text-transform: uppercase;
  padding-top: 15px;
}

footer .navbar-nav a {
  color: white;
  font-size: 0.8em;
}

footer .navbar-nav a:hover {
  color: #96f0e1;
  text-decoration: none;
}

.icon-color {
  background-color: yellow;
}

/* para dar o efeito de movimento no hover dos ícones sociais */
footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer ul {
  list-style: none; /* aqui tiramos os marcadores da lista */
}

footer ul li {
  float: right;
  margin: 0 6px;
}

footer p {
  color: #028d2c;
  /*color: #9bf0e1;*/
  text-align: center;
}

/* ============ tipografia ============ */
h1 {
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 50px;
  color: white;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.04em;
}

/* ============ media queries ============ */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-custom {
    margin: 10px 15px; /* para espaçar um pouco mais os botoes */
    font-size: 1em; /* aqui aumentamos um pouco o tamanho do botão para devices pequenos */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 3em;
  }
  .btn-custom {
    margin: 10px 15px; /* para espaçar um pouco mais os botoes */
    font-size: 1em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 4em;
  }
  .btn-custom {
    margin-right: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 5em;
  }
  .btn-custom {
    margin-right: 5px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 6em;
  }
  .btn-custom {
    margin-right: 5px;
  }
}
